body{
    color: white;
    background-color: black;
    max-width: 650px; /* Only full width on small screens */
    margin: 0 auto; /* Center the body */
    padding: 5px; /*Padding makes it look good on small screens */
}

.content p {
    padding: 20px;
    background-color: grey;
    margin: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    background-color: rgb(46, 46, 46);
    padding: 7px;
}

nav a:hover{

    background-color: rgb(84, 84, 84);

}